# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.idea
.metadata
.packages
.project
.settings/
.vscode/
build/
dist/
# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/ios/Pods/
/ios/Flutter/App.framework
/ios/Flutter/engine
/ios/Flutter/flutter_assets
/ios/Flutter/Generated.xcconfig
/ios/Runner/GeneratedPluginRegistrant.*
/ios/Runner.xcworkspace
# Android
.gradle/
/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
/android/key.properties
/android/local.properties
# Web
/web/
# Windows
/windows/flutter/ephemeral
/windows/flutter/generated_plugin_registrant.cc
/windows/flutter/generated_plugins.cmake
/windows/runner/Debug/
/windows/runner/Release/
/windows/runner/Profile/
# Linux
/linux/flutter/ephemeral
/linux/flutter/generated_plugin_registrant.cc
/linux/flutter/generated_plugins.cmake
# macOS
/macos/Flutter/ephemeral
/macos/Flutter/Generated.xcconfig
/macos/Flutter/GeneratedPluginRegistrant.swift
/macos/Pods/
/macos/Runner/GeneratedPluginRegistrant.swift
/macos/Runner.xcworkspace